blue-color = #68B6FD
error-color = #FD7777

shadow-border(color = #BBB, inner = inset)
  box-shadow: inner 0 0 0 1px color

text-color(col = #666)
  color: col

font-family()
  font-family: helvetica, arial, sans-serif

bezier()
  cubic-bezier(.37, 1, .58, 1)
